	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand router-link" data-href="search" href="/">vanilaES6Spotify</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="/" data-href="search" class="router-link">Home</a>
					</li>
					<li>
						<a href="/about" data-href="about" class="router-link">About</a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

		<main class="content main">

		</main>
